form {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}
#img-backGame {
    opacity: calc(50%);
}
main {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url("assets/img/background/Background-pipe.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}