* {
    font-family: 'Rye';
}
    

main {
    display: flex; 
    justify-content: center;
    background-image: url("assets/img/background/Background-pipe.png");
    background-repeat:no-repeat;
    background-position: center;
}
form {
    padding: 15%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

input, textarea {
    
    justify-content: center;
    border: 3%;
    width: 100%;
    background-color:#e7dede;
    border-radius: 5px;
}
button{
color: #e7dede;
background-color: rgb(105, 170, 40);
border-radius: 7px;
margin-left: 30%;
border-color: #e7dede 30%;
padding: 5px 45px;
}
.contact {
    width: 50%;
    border-radius: 10px;
    background-color: rgb(211, 212, 206);
    border: 5px solid #f9faf7;

}

