* {
    font-family: 'Rye';
}


 main {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/background/back1.png");
    background-repeat:no-repeat;
    background-position: center;
} 




form {
    padding: 15%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

input, textarea {

    justify-content: center;
    border: 3%;
    width: 98%;
    background-color:#e7dede;
    border-radius: 5px;
}

.buttonClass{
display:flex;
justify-content: center;
align-items: center;
margin-top:2rem;
}


button{
color: #e7dede;
background-color: rgb(105, 170, 40);
border-radius: 7px;
border-color: #e7dede 30%;
padding: 0.5rem;

}


.contact {

    height:70%;
    width:40vw;
    /* width: 30rem; */
    border-radius: 10px;
    /* margin-top: 30rem; */
    background-color: rgb(211, 212, 206);
    border: 5px solid #f9faf7;

}