*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow:hidden;  
    font-family:'Rye', cursive;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/* MOBILE */
@media screen and (max-width: 900px) {
    .button-run{
        font-size : 1rem;
        width: 20%;
        height: 10%;
        animation: EntreeEcranMobile 2s forwards, effetShadowMobile 2s infinite;
        /* transform: translate(-200%, -175%); */
    }
}


@media screen and (min-width: 900px) {
    .button-run{
        font-size : 2rem;
        width: 12%;
        height: 10%;
        animation: EntreeEcran 2s forwards, effetShadow 2s infinite;
        
    
    }
}
        
/* GENERAL */

/* ================= */ 
/* BODY :   100VH
/* HEADER : 10vh  
/* MAIN :   86vh
/* FOOTER : 4vh
/*=================== */


body {
    background-image: url("../assets/img/background/back1.png");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}


.button-run{
    border-radius: 24px;
    background-color: #d9a10d;
}


.btn-game{
height:3vh;
width:70%;
border-radius:1rem;
border: none;
}

.btn-game:active{
    background-color: #d9a10d;
}

.btn-game:hover{
    border: 2px solid black;
}


/* ANIMATIONS MOBILE */
/*================== */

@keyframes EntreeEcranMobile{
  
    100% {
        transform: translateY(-50%) rotateZ(360deg);
    }
}

@keyframes effetShadowMobile {
    50% {
      box-shadow: 0px 0px 20px 16px #e6a936;
      font-size: 1.5rem;
    }
  }



  /* ANIMATIONS "NORMALES" */
  /* ===================== */

@keyframes EntreeEcran{

    100% {
        transform: translateY(-50%) rotateZ(360deg);
    }
}

@keyframes effetShadow {
    50% {
      box-shadow: 0px 0px 20px 16px #e6a936;
      font-size: 3rem;
    }
  }






