*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow:hidden;  
    font-family:'Rye', cursive;
}



/* GENERAL */

/* ================= */ 
/* BODY :   100VH
/* HEADER : 10vh  
/* MAIN :   86vh
/* FOOTER : 4vh
/*=================== */


body {
    background-image: url("../assets/img/background/back1.png");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}


button{
    width: 12%;
    height: 10%;
    border-radius: 24px;
    font-size : 2em;
    background-color: #d9a10d;
    /* box-shadow: 12px; */
    transform: translate(-370%, -175%);
    box-shadow: 17px 13px 7px 0px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}




